.items-container {
  list-style-type: none;
  cursor: pointer;
}

.task-item {
  height: 85px;
  -webkit-box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.task-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200px;
  border-bottom: 2px solid #00adaa;
  transition: width 0.5s ease-in-out;
}

.task-item.active:before {
  width: 300px;
  transition: width 0.5s ease-in-out;
}

.task-title {
  padding-left: 36px;
  font-size: 18px;
  color: #0e2a35;
}

.list-item {
  padding-left: 40px;
  margin: 20px 0px 20px 0px;
}

.list-item p {
  display: flex;
  vertical-align: middle;
}

.list-item span {
  padding-left: 21px;
  font-family: "Roboto", sans-serif;
  color: #0e2a35;
  font-size: 18px;
}

.list-item span a {
  color: #00ADAA;
  text-decoration: none;
}

.task-number {
  width: 50px;
  height: 54px;
  background: linear-gradient(180deg, #00A9A7 0%, #00BA89 100%);
  color: #fff;
  font-size: 36px;
  text-align: center;
  margin-left: 30px;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
